/* Add a black background color to the top navigation bar */
.topnav {
  font: 400 12px/1.3 sans-serif;
  overflow: hidden;
  display: flex;
  background-color: #f3d69b;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(249, 198, 111);
  color: black;
}

/* Style the search field */
form.example{
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  text-align: center;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

